.bg {
  background: url("/src/assets/img/perspective_alpha_website_small.jpg")
    no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 5;
  height: 90vh;
  width: 100vw;
}

.overlay {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: fixed;
  z-index: 10;
  height: 90vh;
  width: 100vw;
}

.overlay .inner {
  background: rgb(0 0 0 / 40%);
  height: 90vh;
  width: 100vw;
}
