.button {
  font-size: inherit;
  background-color: hsl(var(--Red));
  color: white;
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  text-align: center;
  white-space: nowrap;
}
