.hero {
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  position: relative;
  z-index: 20;
}

@media (min-width: 600px) {
  .hero {
    margin-top: 2rem;
  }
}

p {
  font-size: 1.13rem;
  margin-top: 1rem;
}
