.selectContainer {
  font-size: inherit;
  position: relative;
  color: white;
}

.select {
  display: flex;
  border: 1px solid white;
  padding: 0.4rem 0.5rem;
  width: 6.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

@media (min-width: 600px) {
  .select {
    width: 10rem;
    padding: 0.4rem 1rem;
  }
}

.select i::before {
  vertical-align: -2.1px;
}

.select i:nth-of-type(1) {
  margin-right: 0.5rem;
}

.select i:nth-of-type(2) {
  margin-left: 10px;
}

@media (min-width: 600px) {
  .select i:nth-of-type(2) {
    margin-left: auto;
  }
}

.options {
  background-color: white;
  color: black;
  border-radius: 0.3rem;
  cursor: pointer;
  position: absolute;
  bottom: -5rem;
  left: 0;
  right: 0;
}

.options .option {
  padding: 0.6rem 0.5rem;
}

.options .option:hover {
  transition: 0.3s;
  background-color: hsla(var(--Blue), 0.2);
}
