.sectionItem {
  color: white;
  text-align: center;
  padding: 3.5rem 1.15rem;
  border-bottom: 8px solid hsl(var(--Gray));
}

.sectionItem h2 {
  font-size: 2rem;
}
.sectionItem p {
  margin-top: 1rem;
}

.imgContainer {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

.imgContainer img {
  position: relative;
  z-index: 10;
}
.imgContainer video {
  position: absolute;
  z-index: 5;
}
