.sectionItem h2 {
  font-size: 2rem;
}

.imgContainer {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

.imgContainer img {
  position: relative;
  z-index: 10;
}
.imgContainer video {
  position: absolute;
  z-index: 5;
}
