.selectContainer {
  position: relative;
  border: 1px solid hsl(var(--Light-gray));
  border-radius: 0.25rem;
  color: white;
  display: inline-flex;
}

.selectContainer .select {
  font-family: Netflix Sans;
  font-weight: 400;
  font-size: 1rem;
  background-color: hsl(var(--Gray), 0.7);
  min-width: auto;
  width: auto;
  padding: 0.375rem 2.25rem;
}

.label {
  color: hsl(0, 0%, 100%, 0.7);
  width: 1px;
  clip-path: inset(50%);
  user-select: none;
  height: 1px;
}

.globe,
.downCaret {
  position: absolute;
  pointer-events: none;
  top: 7px;
}

.globe {
  left: 0.6rem;
}

.downCaret {
  right: 0.75rem;
}
