.selectContainer .select {
  font-family: Netflix Sans;
  font-size: 0.9rem;
  font-weight: 400;
  min-width: auto;
  width: auto;
  background-color: hsl(var(--Gray), 0.7);
  margin-left: -1px;
  border-radius: 0.25rem;
  padding: 0.375rem 2.25rem;
}

.label {
  color: hsl(0, 0%, 100%, 0.7);
  width: 1px;
  clip-path: inset(50%);
  user-select: none;
  height: 1px;
}

.selectContainer svg[data-name="Globe"],
.selectContainer svg[data-name="CaretDown"] {
  position: absolute;
  pointer-events: none;
  top: 7px;
}

.selectContainer svg[data-name="Globe"] {
  left: 0.6rem;
}

.selectContainer svg[data-name="CaretDown"] {
  right: 0.75rem;
  top: 8px;
}
