.last {
  border: 0;
  padding: 1.15rem;
  padding-bottom: 2rem;
  color: hsla(0, 0%, 100%, 0.7);
  text-align: left;
}

.last a {
  text-decoration: underline;
}

.contactList {
  font-size: 0.9rem;
  margin-top: 2rem;
}

.contactList li {
  margin-bottom: 0.8rem;
}

.footerSelect {
  margin: 2rem 0;
}

.footerSelect div {
  width: 8rem;
}

p {
  font-size: 0.9rem;
}
