.loginContainer {
  padding: 0 1.5rem;
  margin-top: 1rem;
}

.form {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.1rem;
  max-width: 37rem;
  margin: 0 auto;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .form {
    display: flex;
  }
}

.buttonBig {
  padding: 0.7rem 1rem;
}

@media (min-width: 600px) {
  .buttonBig {
    font-size: 1.4rem;
    padding: 0.9rem 1.7rem;
  }
}

.emailInputContainer {
  text-align: left;
  position: relative;
  padding: 1rem;
  padding-bottom: 5px;
  border-radius: 0.3rem;
  border: 1px solid hsl(var(--Light-gray));
  color: hsl(var(--Light-gray));
  background-color: hsl(var(--Gray-bg), 0.5);
  font-size: 1rem;
  width: 100%;
}

.email {
  font-size: inherit;
  width: 100%;
  margin-top: 10px;
}

.label {
  position: absolute;
  transition: 0.3s;
}

.label.focusedLabel {
  top: 2px;
  font-size: 0.8rem;
}

h3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
