.downloadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border: 2px solid hsl(var(--Gray));
  border-radius: 0.6rem;
  background-color: black;
  padding: 4px 10px;
  position: absolute;
  z-index: 20;
  bottom: 0px;
  width: 85%;
  left: 8%;
}

.downloadContainer div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 10px;
}

.downloadContainer img {
  width: 50px;
}

#boxshot {
  width: 35px;
}

.downloadText p {
  margin: 0;
}

.downloadText p:nth-of-type(1) {
  font-size: 0.9rem;
}

.downloadText p:nth-of-type(2) {
  color: hsl(211, 100%, 46%);
  font-size: 0.8rem;
}

.downloadText p:nth-of-type(2)::after {
  content: "";
  animation: download 2s linear infinite;
}

@keyframes download {
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@media (min-width: 600px) {
  #boxshot {
    width: 50px;
  }
  .downloadContainer p:nth-of-type(1) {
    font-size: 1rem;
  }
  .downloadContainer p:nth-of-type(2) {
    font-size: 0.9rem;
  }
}
