*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#root {
  display: grid;
  place-content: center;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  display: inline-block;
}

button,
select,
input {
  color: inherit;
  border: 0;
  background: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus,
input:focus,
select:focus {
  outline: 0;
}

ul {
  list-style: none;
}

img,
svg,
video {
  max-width: 100%;
}
